@-webkit-keyframes insert-mode {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(17, 0, 255, 0.692);
  }
}

@keyframes insert-mode {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(17, 0, 255, 0.692);
  }
}

@-webkit-keyframes insert-mode-console {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.886);
  }
}

@keyframes insert-mode-console {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.886);
  }
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  margin: 0;
  position: relative;
  width: 100%;
}

body > div {
  margin: auto;
  position: relative;
}

section > h6 {
  display: none;
}

.main-container {
  margin: auto;
  max-width: 1280px;
  padding: 15px;
  width: 100%;
}

.hero-title {
  color: rgba(17, 0, 255, 0.692);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.75em;
  margin-bottom: 10px;
  margin-top: 15vh;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.hero-title > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero-title > div::before {
  content: '>\A0';
}

.hero-title > div > :first-child {
  -webkit-animation: typing 4.5s steps(17, end);
          animation: typing 4.5s steps(17, end);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.hero-title > div > :nth-child(even) {
  -webkit-animation: insert-mode 1s steps(2) infinite;
          animation: insert-mode 1s steps(2) infinite;
}

.hero-description {
  color: rgba(37, 33, 98, 0.9);
  font-family: "Spartan", sans-serif;
  padding-top: 25px;
}

.hero-description > :nth-child(even) {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.hero-description a {
  color: rgba(17, 0, 255, 0.692);
  font-weight: bold;
  text-decoration: none;
}

.console {
  -webkit-box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 25px 15px rgba(50, 50, 93, 0.1), 0 20px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 25px 15px rgba(50, 50, 93, 0.1), 0 20px 15px rgba(0, 0, 0, 0.1);
}

.console-header {
  background-color: rgba(163, 163, 163, 0.5);
  border-color: rgba(199, 199, 199, 0.5);
  border-style: solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50px;
  position: relative;
}

.console-header > div {
  background-color: #8d8d8d;
  display: block;
  height: 25px;
  -webkit-mask-image: url("../resources/img/icon_x.svg");
          mask-image: url("../resources/img/icon_x.svg");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: cover;
          mask-size: cover;
  position: absolute;
  right: 20px;
  top: 12.5px;
  width: 25px;
}

.console-content {
  background-color: rgba(49, 39, 77, 0.794);
  font-family: "Courier New", Courier, monospace;
  height: 550px;
  padding: 20px;
}

.console-content a {
  color: rgba(103, 199, 255, 0.886);
  text-decoration: none;
}

.console-content > :nth-child(even) {
  margin-bottom: 30px;
}

.console-content > div {
  margin-bottom: 10px;
}

.console-content .console-input {
  color: rgba(255, 255, 255, 0.886);
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.console-content .console-input::before {
  content: '>\A0';
}

.console-content .console-input .typing {
  -webkit-animation: insert-mode-console 1s steps(2) infinite;
          animation: insert-mode-console 1s steps(2) infinite;
}

.console-content .console-output {
  color: rgba(208, 255, 0, 0.886);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

[class*='col-'] {
  float: left;
}

.col-12 {
  width: 100%;
}

.resume {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.resume > embed {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  body main {
    padding: 25px;
  }
}

@media only screen and (min-width: 600px) {
  .hero-title {
    font-size: 5em;
  }
  .hero-description {
    font-size: 3em;
  }
  .console-content {
    font-size: 3em;
    height: 1300px;
    padding: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-title {
    font-size: 5em;
  }
  .console-content {
    height: 1300px;
  }
  .hero-description {
    font-size: 3em;
  }
  .col-desk-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .hero-title {
    font-size: 5em;
  }
  .console-content {
    font-size: 2em;
    height: 800px;
  }
  .hero-description {
    font-size: 2em;
  }
  .col-desk-12 {
    width: 100%;
  }
  .console-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 25px;
  }
  .console-header > div {
    height: 15px;
    right: 10px;
    top: 2.5px;
    width: 15px;
  }
}
/*# sourceMappingURL=style.css.map */